version: '3'
services:
  postgres:
    container_name: postgres_container
    image: "postgres" # use latest official postgres version
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    networks:
        - db_network
    volumes:
      - postgres-db:/var/lib/postgresql/data/ # persist data even if container shuts down


  pgadmin_postgres:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@test.test
      - PGADMIN_DEFAULT_PASSWORD=secret
    ports:
      - 8080:8080
    networks:
      - db_network
    volumes:
      - pgadmin:/root/.pgadmin
    restart: unless-stopped


networks:
    db_network:
        driver: bridge


volumes:
  postgres-db:
  pgadmin: