version: '3'
services:
  postgres:
    container_name: postgres_container
    image: "postgres" # use latest official postgres version
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
    volumes:
      - postgres-db:/var/lib/postgresql/data/ # persist data even if container shuts down

  pgadmin_postgres:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@test.test
      - PGADMIN_DEFAULT_PASSWORD=secret
    ports:
      - 8080:80
    volumes:
      - pgadmin:/root/.pgadmin
    restart: unless-stopped


volumes:
  postgres-db:
  pgadmin: